  <div class="Contact">
    <h1>henrythedrip</h1>
    <p>Email: henrythedrip@gmail.com</p>
    <p>Insta/Facebook: henrythedrip</p>
  </div>

  <!-- Hero Image Section -->
<div class="hero-image">
  <img src="/images/henry-mic.jpg" alt="Henry with Lights" style="width:100%; max-height:600px; object-fit:cover;">
</div>

  {{!-- TODO: add a photo of henrythedrip to this section, just so that we have something else in this area. --}}