  <div class="Contact">
    <h1>henrythedrip</h1>
    <p>Email: henrythedrip@gmail.com</p>
    <p>Insta/Facebook: henrythedrip</p>
  </div>

  {{!-- TODO: add a photo of henrythedrip to this section, just so that we have something else in this area. --}}