<h1>Welcome Music Fiends</h1>
<h2>This is the henrythedrip website</h2>

<!-- Hero Image Section -->
<div class="hero-image">
  <img src="/images/cropped_henry-tanktop2.jpg" alt="Henry with Lights" style="width:100%; max-height:600px; object-fit:cover;">
</div>

{{!-- TODO: we need to add more to this homepage section. Does anyone have any ideas?? --}}