<section>
<h1>Login Page</h1>
    <form>
        <div class="login-section">
            <h2>Login</h2>
            <h3>Email</h3>
            <input type="text" id="login-email">
            <h3>Password</h3>
            <input type="text" id="login-password">
            <button type="submit">Login</button>
        </div>
    </form>
    <form>
        <div class="create-account-section">
            <h2>Create an Account</h2>
            <h3>Email</h3>
            <input type="text" id="create-account-email">
            <h3>Password</h3>
            <input type="text" id="create-account-password">
            <button type="submit">Create Account</button>
    </form>
    </div>

    {{!-- TODO: bring in some js that handles login and create account submit events, that talk to the backend with the information inside of the forms --}}
</section>