<div class="music-videos">
    {{#each videos}}
    <div class="music-video">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <iframe width="560" height="315" src="{{embedUrl}}" frameborder="0" allowfullscreen></iframe>
    </div>
    {{/each}}
</div>
