 <section>
        <div class="product">
            <img src="./assets/images/IMG_Tee2.jpg" alt="T-Shirt">
            <h3>Immaculate Drip</h3>
            <p>White cotton unisex; One size fits all</p>
            <p>$20.00</p>
            <button>Add to Cart</button>
        </div>

        <div class="product">
            <img src="./assets/images/IMG_Pin2.jpg" alt="Cancel henrythedrip Pin">
            <h3>Cancel henrythedrip Pin</h3>
            <p>3" diameter metallic pin</p>
            <p>$2.00</p>
            <button>Add to Cart</button>
        </div>