 <section>
    {{#each products}}
      <div class="product">
            <img src={{img}} alt="T-Shirt">
            <h3>{{productName}}</h3>
            <p>{{productDescription}}</p>
            <p>${{price}}</p>
            <button>Add to Cart</button>
        </div>

    {{/each}}
 </section>