<section class="profile-handler">
<div class="profile">
    <h1>User Info</h1>
    <h2>email:</h2>
    <h2>{{email}}</h2>
    <h2>name:</h2>
    <h2>{{name}}</h2>
    {{!-- TODO: delete is not neccessary for the full points, but we might consider doing it so that we have more than the bare minimum --}}
    <button id="delete-account">Delete Account</button>
</div>
<div class="previous-orders">
<h3>Previous Orders</h3>
{{!-- TODO: we need to add previous orders, this includes adding checkout functionality to every item --}}
<h3></h3>
</div>
</section>

